.menu-content-open{
    pointer-events: auto !important;
    cursor: default !important;
}


.menu{
    --height:300px; 
     padding-top: 60px;
}
@media (max-width:800px) {
    .menu{
        --height: 50%; 
    }   
}
@media (max-width:400px) {
    .menu{
        --height: 100%; 
    }   
}