.page-header-content{
    width: 90%; 
    margin:0 auto; 
   --background: transparent;
   --color: #E9E9E9;
}
.sticky-toolbar{
    --background: var(--ion-color-secondary);
    --color:#E9E9E9;
}
.navburgerIcon{
    font-size: xx-large; 
}

.navburgerIcon{
    color: #E9E9E9;
    margin-right: 5px;
 }
 
