.page-header-content{
    width: 90%; 
    margin:0 auto; 
   --background: transparent;
   --color: var(--ion-color-primary-contrast);
}
.sticky-toolbar{
    --background: var(--ion-color-primary);
    --color:var(--ion-color-primary-contrast);
}
.navburgerIcon{
    font-size: xx-large; 
}

.navburgerIcon{
    color: var(--ion-color-primary-contrast);
    margin-right: 5px;
 }
 
.page-header-logo{
height: 40px;



}