

.page-wrapper{
    margin-top: 60px;
    overflow-y: auto;
   

}
.page-content{
    max-width: 1200px;
        margin:auto
}

.page-content-body{
    padding: 10px;
    flex:1 1 100%;
    height: 100%;
    overflow: auto;
}


ion-card {
    background-color: #FFFF;
}
ion-title {
font-size: xx-large
}